# Data Cleaning

Melissa Chen, mmc324

## Import Packages

I am importing pandas and numpy for data cleaning and dataframe manipulation. I am using matplotlib.pyplot to plot graphs and look at relationships between data entries.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

# Data Cleaning
In this section I load the data. I dropped the columns with the link, language, and country because I found those least likely to be able to make a conclusion about the popularity of movies. I renamed the column names and reordered the columns to create my desired table.

## Load Data

In [2]:
raw_data = pd.read_csv("movie_data.csv")
raw_data.head(10)

,director_name,duration,actor_2_name,genres,actor_1_name,movie_title,num_voted_users,actor_3_name,movie_imdb_link,num_user_for_reviews,language,country,title_year,imdb_score
0,James Cameron,178.0,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,Wes Studi,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,2009.0,7.9
1,Gore Verbinski,169.0,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,Jack Davenport,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,2007.0,7.1
2,Sam Mendes,148.0,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,Stephanie Sigman,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,2015.0,6.8
3,Christopher Nolan,164.0,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,Joseph Gordon-Levitt,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,2012.0,8.5
4,Doug Walker,NaN,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,7.1
5,Andrew Stanton,132.0,Samantha Morton,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,Polly Walker,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,738.0,English,USA,2012.0,6.6
6,Sam Raimi,156.0,James Franco,Action|Adventure|Romance,J.K. Simmons,Spider-Man 3,383056,Kirsten Dunst,http://www.imdb.com/title/tt0413300/?ref_=fn_t...,1902.0,English,USA,2007.0,6.2
7,Nathan Greno,100.0,Donna Murphy,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,Tangled,294810,M.C. Gainey,http://www.imdb.com/title/tt0398286/?ref_=fn_t...,387.0,English,USA,2010.0,7.8
8,Joss Whedon,141.0,Robert Downey Jr.,Action|Adventure|Sci-Fi,Chris Hemsworth,Avengers: Age of Ultron,462669,Scarlett Johansson,http://www.imdb.com/title/tt2395427/?ref_=fn_t...,1117.0,English,USA,2015.0,7.5
9,David Yates,153.0,Daniel Radcliffe,Adventure|Family|Fantasy|Mystery,Alan Rickman,Harry Potter and the Half-Blood Prince,321795,Rupert Grint,http://www.imdb.com/title/tt0417741/?ref_=fn_t...,973.0,English,UK,2009.0,7.5

## Dropping Columns
I dropped the column containing the link to each movie, the language of the movie and the country. I will not be using these to examine my research question.

In [3]:
raw_data = raw_data.drop(columns = ["movie_imdb_link", "language", "country"])
raw_data.head()

,director_name,duration,actor_2_name,genres,actor_1_name,movie_title,num_voted_users,actor_3_name,num_user_for_reviews,title_year,imdb_score
0,James Cameron,178.0,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,Wes Studi,3054.0,2009.0,7.9
1,Gore Verbinski,169.0,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,Jack Davenport,1238.0,2007.0,7.1
2,Sam Mendes,148.0,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,Stephanie Sigman,994.0,2015.0,6.8
3,Christopher Nolan,164.0,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,Joseph Gordon-Levitt,2701.0,2012.0,8.5
4,Doug Walker,NaN,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,NaN,NaN,7.1

## Rename Columns
I am renaming the columns to make them more understandable.

In [4]:
movie_data = raw_data.rename(columns = {"director_name" : "director", "num_voted_users" :"users_voted", "movie_title": "title", "num_user_for_reviews": "num_reviews", "title_year": "year"})
movie_data.head()

,director,duration,actor_2_name,genres,actor_1_name,title,users_voted,actor_3_name,num_reviews,year,imdb_score
0,James Cameron,178.0,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,Wes Studi,3054.0,2009.0,7.9
1,Gore Verbinski,169.0,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,Jack Davenport,1238.0,2007.0,7.1
2,Sam Mendes,148.0,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,Stephanie Sigman,994.0,2015.0,6.8
3,Christopher Nolan,164.0,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,Joseph Gordon-Levitt,2701.0,2012.0,8.5
4,Doug Walker,NaN,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,NaN,NaN,7.1

In [5]:
movie_data.columns

Index(['director', 'duration', 'actor_2_name', 'genres', 'actor_1_name',
       'title', 'users_voted', 'actor_3_name', 'num_reviews', 'year',
       'imdb_score'],
      dtype='object')

## Reorder Columns
I reordered the columns of the dataframe into the order that I thought made the most sense and created the table that I wanted.

In [6]:

movie_data = movie_data[["title", "year", "duration", "imdb_score", "genres", "num_reviews", "director", "actor_1_name", "actor_2_name", "actor_3_name", "users_voted"]]

movie_data.head()

,title,year,duration,imdb_score,genres,num_reviews,director,actor_1_name,actor_2_name,actor_3_name,users_voted
0,Avatar,2009.0,178.0,7.9,Action|Adventure|Fantasy|Sci-Fi,3054.0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,886204
1,Pirates of the Caribbean: At World's End,2007.0,169.0,7.1,Action|Adventure|Fantasy,1238.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,471220
2,Spectre,2015.0,148.0,6.8,Action|Adventure|Thriller,994.0,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,275868
3,The Dark Knight Rises,2012.0,164.0,8.5,Action|Thriller,2701.0,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,1144337
4,Star Wars: Episode VII - The Force Awakens ...,NaN,NaN,7.1,Documentary,NaN,Doug Walker,Doug Walker,Rob Walker,NaN,8

# Fill Nan

In [7]:
# fill nan for year 
mean_d = movie_data['duration'].mean()
print(mean_d)
movie_data["duration"] = movie_data["duration"].fillna(mean_d)
movie_data =movie_data.dropna(axis = "index")

107.2010739856802

In [8]:
f = movie_data[movie_data["imdb_score"].isnull() == True]
print(f)

Empty DataFrame
Columns: [title, year, duration, imdb_score, genres, num_reviews, director, actor_1_name, actor_2_name, actor_3_name, users_voted]
Index: []

In [9]:
movie_data.dropna()

,title,year,duration,imdb_score,genres,num_reviews,director,actor_1_name,actor_2_name,actor_3_name,users_voted
0,Avatar,2009.0,178.0,7.9,Action|Adventure|Fantasy|Sci-Fi,3054.0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,886204
1,Pirates of the Caribbean: At World's End,2007.0,169.0,7.1,Action|Adventure|Fantasy,1238.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,471220
2,Spectre,2015.0,148.0,6.8,Action|Adventure|Thriller,994.0,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,275868
3,The Dark Knight Rises,2012.0,164.0,8.5,Action|Thriller,2701.0,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,1144337
5,John Carter,2012.0,132.0,6.6,Action|Adventure|Sci-Fi,738.0,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,212204
...,...,...,...,...,...,...,...,...,...,...,...
5037,Newlyweds,2011.0,95.0,6.4,Comedy|Drama,14.0,Edward Burns,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,1338
5038,Signed Sealed Delivered,2013.0,87.0,7.7,Comedy|Drama,6.0,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,629
5040,A Plague So Pleasant,2013.0,76.0,6.3,Drama|Horror|Thriller,3.0,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,38
5041,Shanghai Calling,2012.0,100.0,6.3,Comedy|Drama|Romance,9.0,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,1255
5042,My Date with Drew,2004.0,90.0,6.6,Documentary,84.0,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,4285

# Explore the data
In this section I look at the basic information of my data, such as the datatypes of each columns, the shape of the dataframe, and summary statistics of the dataframe. I examine possible relationships between columns in order to find a pattern that supports my research question. I look at the relationship between score, number of genres, number of reviews, director, actors, and number of voters.

I'm checking for the data types of the inputs in each column.

In [10]:
movie_data.dtypes

title            object
year            float64
duration        float64
imdb_score      float64
genres           object
num_reviews     float64
director         object
actor_1_name     object
actor_2_name     object
actor_3_name     object
users_voted       int64
dtype: object

I check for the shape of the dataframe to get its dimensions. I have 5043 entries, and 11 columns.

In [11]:
movie_data.shape

(4904, 11)

I am using the describe() function to get summary statistics of the columns.

In [12]:
movie_data.describe()

              year     duration   imdb_score  num_reviews   users_voted
count  4904.000000  4904.000000  4904.000000  4904.000000  4.904000e+03
mean   2002.444331   108.297718     6.414906   277.134584  8.535462e+04
std      12.454632    22.445300     1.113890   381.050096  1.398970e+05
min    1916.000000    14.000000     1.600000     1.000000  5.000000e+00
25%    1999.000000    94.000000     5.800000    68.000000  9.232250e+03
50%    2005.000000   104.000000     6.500000   160.000000  3.548600e+04
75%    2011.000000   118.000000     7.200000   332.000000  9.855850e+04
max    2016.000000   330.000000     9.300000  5060.000000  1.689764e+06

## Checking Unique Values for Year
I want to see how many movies entries are distributed by year. I look into the year column and use the value_counts() function to see which years the most movies were released.

In [13]:
movie_data["year"].value_counts()

2009.0    259
2014.0    250
2006.0    238
2013.0    233
2010.0    229
         ...
1930.0      1
1944.0      1
1958.0      1
1935.0      1
1927.0      1
Name: year, Length: 91, dtype: int64

__Analysis__: The data makes sense because it appears that more movies were released in the past 2 decades. In the more recent years, movies have a higher count.

__Drop Rows__

I want to cut the dataframe to the years with the most movies released. I am more interested in how movies become popular in modern pop culture. Cutting out the years where movies were just beginning to develop into pop culture will make my data cleaner and possibly more accurate. Older movies may also not be rated the same and are less accessible than new ones. I will pick movies within the last 2 decades of the dataset, so I will pick the years from 1996-2016.

In [14]:
movie_data = movie_data[movie_data["year"] >= 1996.0]
movie_data.reset_index(inplace = True, drop = True)
movie_data.head()
print(movie_data.shape)

(4087, 11)

## Changing Genres to Count
The way the genres are written in the chart, it is too hard to categorize the movies into genres. Additionally, it will be hard to show a relationship between genre and the IMDb score because of many movies that overlap with other genres. These overlapping genres will make it difficult to tell which genre is creating a trend. Instead, I will count the number of genres for each movie and see if overlapping movie genres relate to higher ratings. Here, I replace each genre entre with the number of genres.

In [15]:
movie_data['num_genres'] = movie_data['genres']

for i in range(len(movie_data.loc[:,'genres'])):
    movie_data.loc[:,'num_genres'][i] = movie_data.loc[:,'genres'][i].count("|") + 1
movie_data.head()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,title,year,duration,imdb_score,genres,num_reviews,director,actor_1_name,actor_2_name,actor_3_name,users_voted,num_genres
0,Avatar,2009.0,178.0,7.9,Action|Adventure|Fantasy|Sci-Fi,3054.0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,886204,4
1,Pirates of the Caribbean: At World's End,2007.0,169.0,7.1,Action|Adventure|Fantasy,1238.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,471220,3
2,Spectre,2015.0,148.0,6.8,Action|Adventure|Thriller,994.0,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,275868,3
3,The Dark Knight Rises,2012.0,164.0,8.5,Action|Thriller,2701.0,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,1144337,2
4,John Carter,2012.0,132.0,6.6,Action|Adventure|Sci-Fi,738.0,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,212204,3

## Changing Years and Reviews to Integers
I am changing the type of the year column to all integer year values.

In [16]:
movie_data["year"] = movie_data["year"].astype(int)
movie_data.head()

,title,year,duration,imdb_score,genres,num_reviews,director,actor_1_name,actor_2_name,actor_3_name,users_voted,num_genres
0,Avatar,2009,178.0,7.9,Action|Adventure|Fantasy|Sci-Fi,3054.0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,886204,4
1,Pirates of the Caribbean: At World's End,2007,169.0,7.1,Action|Adventure|Fantasy,1238.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,471220,3
2,Spectre,2015,148.0,6.8,Action|Adventure|Thriller,994.0,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,275868,3
3,The Dark Knight Rises,2012,164.0,8.5,Action|Thriller,2701.0,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,1144337,2
4,John Carter,2012,132.0,6.6,Action|Adventure|Sci-Fi,738.0,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,212204,3

## Adding a Ranking Column

In [17]:
movie_data["ranking"] = movie_data["imdb_score"].rank(ascending = False)
movie_data.head()

,title,year,duration,imdb_score,genres,num_reviews,director,actor_1_name,actor_2_name,actor_3_name,users_voted,num_genres,ranking
0,Avatar,2009,178.0,7.9,Action|Adventure|Fantasy|Sci-Fi,3054.0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,886204,4,188.5
1,Pirates of the Caribbean: At World's End,2007,169.0,7.1,Action|Adventure|Fantasy,1238.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,471220,3,1023.0
2,Spectre,2015,148.0,6.8,Action|Adventure|Thriller,994.0,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,275868,3,1463.0
3,The Dark Knight Rises,2012,164.0,8.5,Action|Thriller,2701.0,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,1144337,2,22.0
4,John Carter,2012,132.0,6.6,Action|Adventure|Sci-Fi,738.0,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,212204,3,1806.0

In [18]:
movie_csv_data = movie_data.to_csv('my_movie_data.csv', index = False)